body {
    font-family: 'Permanent Marker', arial, sans-serif;
    font-size: 20px;
    text-align:center;
    width:80%;
    margin:0 auto;
}
.home {
    color: #D2612F;
}
.away {
    color: #000;
}
.bigorange {
    color: #D2612F;
    font-size: 50px;
}
h1 {
    font-size: 40px;
}
